.skills-items {
  width: 200px;
  margin: 10px 0px;
  display: flex;
}

.skills-name {
  color: #e3e8ee;
  margin: 0px 10px;
  text-transform: uppercase;
}

.skills-star {
  display: inline-block;
  margin: 0px 2px;
}
