* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container-2fr {
  background-color: #ffffff;
}

.contact-container {
  display: flex;
  margin: 15px 5px;
}
